body{
  background-image:url(Mustapha.jpg);
  font-family: 'Itim', sans-serif;
  margin: 10px 10px;
  padding: 0 0;
  background-color: #fdfdfd;
}

p {
    color: grey ;
    text-align: justify;
}


.hero{
  min-height: 700px;
  padding-top: 4.5rem;
  background: url('../img/mustapha.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  position: inherit;
  text-align: center;
  height: 100%;
  width: 100%;
  color:#fff;
