1 {
  color: blue;
  text-align: center;
}

img{
  float: right;
  height: 600px;
  width: auto;
}

h2 {
  color: black;
  font-style: normal;
  text-align: left;
}

p {
  font-family:  fantasy;
}

ul {
  line-height: 20px;
}

.Mustapha {
  font-style: italic;
}

.What{
  color: red;
}

p.Java{
  font-size: 12px;
}
