1 {
  color: blue;
  text-align: center;
}

img{
  float: right;
  height: 500px;
  width: auto;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  line-height: 40px;
}

.Mustapha {
  font-style: italic;
}

.What{
  color: red;
}

p.Java{
  font-size: 12px;
}
