img{
  height: 100px
  width:
}

1 {
  color: blue;
  text-align: center;
}
h1{
  color; black;
  font-style: italic;
  text-align: center;
}
h2 {
  color: black;
  font-style: normal;
  text-align: left  ;
}

p {
  font-variant-numeric: family: sans-serif;
#About {
  font-size:10px
  margin

}
